.fader-enter-active, .fader-leave-active {
    transition: opacity 0.2s ease-in-out;
}
.fader-enter, .fader-leave-to /* .fade-leave-active in <2.1.8 */ {
    opacity: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 12265d */
/* 1a398c */

body {
    @apply bg-gray-100 mx-0;
}

@layer base {


    @font-face {
      font-family: emilogo;
      src: url('/fonts/BitcrusherCdRg-Bold/bitcrusher_condensed_bd.ttf') format('woff');
      font-style: normal;
      font-weight: 400;
      font-display: swap;
    }
  
  }